/* Font sizes

XXS	    eXtra eXtra Small	Очень-очень маленький
XS	    eXtra Small			Очень маленький
S	    Small				Маленький
M	    Medium				Средний
L	    Large				Большой
XL	    eXtra Large			Очень большой
XXL	    eXtra eXtra Large	Очень-очень большой

*/

$font_s:   14px;
$font_m:   16px;
$font_l:   18px;
$font_xl:  24px;
$font_xxl: 30px;