@import "common";

/* -------- */

.plan {
    .header .title {
        font-size: $font_xl;
    }
    .form {
        .title {
            font-size: $font_l;
        }
        .control-label {
            text-align: center;
        }
    }
}

/* Responsive: Portrait smart-phones and up */
@media screen and (max-width: 767px) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .plan {
        .header .nav li:last-of-type {
            margin-left: 20px;
        }
    }
}
