//imports
//@import "reset"
//@import "common"
//
//@import "layouts"
//@import "main"
//@import "media"

body {
    width: 200px;
    height: 200px;
    border: 1px solid #F00;
    box-shadow: 1px 1px 2px #CCC;
}
// my comments here
.container {
    display: flex;
    color: #F0F;
}

.a {

    background: linear-gradient(red, green);
}
